[submodule "tornadio"]
	path = tornadio
	url = https://github.com/MrJoes/tornadio.git
[submodule "tornado"]
	path = tornado
	url = https://github.com/facebook/tornado.git
[submodule "dynamicaudio"]
	path = dynamicaudio
	url = https://github.com/bfirsh/dynamicaudio.js.git
